.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-top: 5rem;
    font-size: 3.4rem;
    color: #03045E;
}

.titulo span {
    font-weight: bolder;
}

.sub {
    color: #03055e9e;
    text-align: center;
    margin-top: 5px;
    font-size: 1.1rem;
    width: 51%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

    border: none;
    box-shadow: 1px solid black;
    box-shadow: 10px 10px 94px -39px rgba(0,0,0,0.75);
    padding: 20px;
    border: 1.7px solid #03055e38;
    border-radius: 0.7rem;
    height: 14rem;
    width: 16rem;
}

#boxFront {
    background-color: #03045E;
}

#boxBack {
    background-color: #d3f2f9;
}

.boxText {
    color: #CAF0F8;
    font-family: 'BLOWREPH', sans-serif;
    width: 70%;
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
}

.front {
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 8px;
    color: #CAF0F8;
    right: 10px;
}

.back {
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 8px;
    color: #03045E;
    left: 10px;
}

.iconsBack {
    margin: 0px 10px 0px 10px;
    padding: 3px;
    color: #03045E;
}

.itemsBack {
    text-decoration: none;
    font-size: 1.7rem;
    color: #03045E;
}

.itemsBack:hover{
    font-weight: bolder;
}

