@import url('https://fonts.cdnfonts.com/css/blowreph');

.navbar {
    background-color: #CAF0F8;
    display: flex;
    box-shadow: #023d8a66 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
}

.brand {
    margin-left: 40px;
    color: #03045E;
    font-size: 1.6em;
    font-weight: 400;
    text-decoration: none;
    font-family: 'BLOWREPH', sans-serif;
}

.brand span {
    font-family: 'BLOWREPH', sans-serif;
    font-weight: bolder;
}

.links_list {
    display: flex;
    list-style: none;
    margin-top: 3px;
    margin-right: 40px;
    gap: 20px;
}

.links_list li {
    margin-right: 0.7em;
}

.links_list a {
    text-decoration: none;
    color: #03045E;
    font-family: 'BLOWREPH', sans-serif;
}

.active {
    background-color: #000;
    color: white;
}